<div class="header text-center bg-success text-white" style="padding: 12rem">
  <h2>Welcome To MBTA</h2>
  <h5 class="modal-title" >{{route.data.attributes.long_name}} Route</h5>
</div>

<h5 class="text-center mt-3">Choose a stop from the list below</h5>

<div class="container">
  <ul class="list-group" *ngFor="let stop of stopsObject.data">
    <li class="list-group-item m-3" aria-current="true">
      <div class="container">
        <a href="" class="text-decoration-none text-black" data-bs-toggle="modal" data-bs-target="#exampleModal">
          <div class="d-flex flex-row gap-5">
            <div>
              <small>Name</small>
              <div>{{stop.attributes.name}}</div>
            </div>
            <div>
              <small>Address</small>
              <div>{{stop.attributes.address}}</div>
            </div>
          </div>
        </a>
      </div>
    </li>
  </ul>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{route.data.attributes.long_name}} Route</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h3 class="text-center">Direction Names</h3>
        <p class="text-center" *ngFor="let direction of direction_names">
          {{direction}}
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
